@model List<Libro>

@section Styles{
    <link href="~/css/books.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/Delete-Book.js"></script>
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        @if(ViewBag.Utente == "Admin")
        {
            <h1 class="mb-0">Libri</h1>
            <a class="btn btn-outline-dark" asp-controller="Libro" asp-action="Create">Aggiungi Libro</a>
        }
        else
        {
            <h1 class="mb-0">Libri Prenotati</h1>
            if (ViewBag.Prenota)
            {
                <a class="btn btn-outline-dark" asp-controller="Libro" asp-action="Reserve" asp-route-idCliente="@ViewBag.IdCliente">Prenota Libro</a>
            }
            else
            {
                <a class="btn btn-outline-dark disabled" asp-controller="Libro" asp-action="Reserve" asp-route-idCliente="@ViewBag.IdCliente" aria-disabled="true" tabindex="-1" style="pointer-events: none; opacity: 0.5;">Prenota Libro</a>
            }
        }
    </div>

    @if (Model == null || Model.Count == 0)
    {
        <div class="alert alert-secondary">Nessun libro disponibile.</div>
    }
    else
    {
        <table class="table table-striped table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Titolo</th>
                    <th>Autore</th>
                    <th>Anno</th>
                    <th>Paese</th>
                    <th>Lingua</th>
                    <th>Prezzo (€)</th>
                    <th>Pagine</th>
                    @{
                        if(ViewBag.Utente == "Admin")
                        {
                            <th>Azioni</th>
                        }
                        else
                        {
                            <th>Stato</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @* CAMBIARE ORDINE FOREACH (ELENCO LIBRI PRENOTATI IN BASE ALLE PRENOTAZIONI -> FOREACH PIU' ESTERNO) *@
                @foreach (var libro in Model)
                {
                    <tr>
                        <td>@libro.IdLibro.ToString()</td>
                        <td>@libro.Titolo</td>
                        <td>@libro.Autore.Cognome @libro.Autore.Nome</td>
                        <td>@libro.Anno.ToString()</td>
                        <td>@libro.Paese.Nome</td>
                        <td>@libro.Lingua.Nome</td>
                        <td>@libro.Prezzo.ToString("F2")</td>
                        <td>@libro.Pagine.ToString()</td>

                        @{
                            if (ViewBag.Utente == "Admin")
                            {
                                <td>
                                    <a class="mx-1 text-dark" asp-controller="Libro" asp-action="Edit" asp-route-id="@libro.IdLibro"><i class="bi bi-pencil-square"></i></a>
                                    <a class="mx-1 text-dark" id="btnDelete" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="@libro.IdLibro" style="cursor: pointer">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            }
                            else if (ViewBag.Utente == "Cliente")
                            {
                                <td>
                                    @{
                                        if (ViewBag.Prestiti != null)
                                        {
                                            foreach (var prenotazione in ViewBag.Prenotazioni)
                                            {
                                                if (prenotazione.IdLibro == libro.IdLibro)
                                                {
                                                    foreach (var prestito in ViewBag.Prestiti)
                                                    {
                                                        if (prestito.IdPrenotazione == prenotazione.IdPrenotazione)
                                                        {
                                                            if (prestito.DataInizio > DateTime.Now)
                                                            {
                                                                <span class="stato prenotato">prenotato</span>
                                                            }
                                                            else
                                                            {
                                                                if (prestito.DataFine > DateTime.Now)
                                                                {
                                                                    <span class="stato in-prestito">in prestito</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="stato fine-prestito">fine prestito</span>
                                                                }
                                                            }

                                                            break;
                                                        }
                                                    }

                                                    break;
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <span class="stato prenotato">prenotato</span>
                                        }
                                    }
                                </td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Conferma eliminazione</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Sei sicuro di voler eliminare questo libro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                <form id="deleteForm" method="post">
                    <button type="submit" class="btn btn-danger">Elimina</button>
                </form>
            </div>
        </div>
    </div>
</div>
